/* styles.css */
.table_holder {
    overflow-x: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    color: #3d4e72;
    font-size: 12px;
    height: 100%;
    overflow: auto;
}

.custom-table th {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0 8px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
    user-select: none;
    height: 30px;
    position: sticky;
    top: 0;
}

.custom-table td{
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border-color: #D2D2D2;
    border-style: solid;
    border-width: 1px 0;
    text-align: left;
    padding: 1px;
}
.custom-table td span{
    padding: 0 12px;
    display: block;
}

.custom-table .td-number,
.custom-table .td-number span {
    text-align: center!important;
}

.custom-table .td-string,
.custom-table .td-string span {
    text-align: left!important;
}

.custom-table .td-date,
.custom-table .td-date span {
    text-align: center!important;
}

.custom-table .td-boolean,
.custom-table .td-boolean span {
    text-align: center!important;
}

.custom-table tr {
    height: 20px;
}

.custom-table tr:nth-child(even) td{
    background-color: rgba(83, 152, 255, 0.1)!important;
}

.custom-table tr:nth-child(odd) td{
    background-color: #fff!important;
}

