
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  display:flex;
  position: relative;
  flex-wrap: wrap;
}

.content{
  width: calc(100% - 60px);
  margin-left: 60px;
  position: relative;
  overflow-y: auto;
  height: 100vh;
  /* background-color:rgb(9, 0, 15); */
}

.content-body{
  padding: 20px;
}

:root{
  --color-primary: #7f1718;
  --color-secondary:rgb(146, 55, 56);
  /* --color-primary:rgb(23, 68, 127);
  --color-secondary:rgb(55, 105, 146); */
}