.info-shower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}
.info-shower-text{
    font-size: 11px;
}
.info-shower-value{
    font-size: 1.7em;
    font-weight: bold;
}