/* styles.css */
.table_holder {
    overflow-x: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 1!important;
    max-height: 400px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    color: #3d4e72;
    font-size: 12px;
    z-index: 1!important;
    height: 100%;
    overflow: auto;
}

.custom-table th {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0 8px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
    user-select: none;
    height: 30px;
    position: sticky;
    top: 0;
}

.custom-table td {
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border-color: #D2D2D2;
    border-style: solid;
    border-width: 1px 0;
    text-align: left;
    padding: 0;
}
.custom-table td span{
    padding: 0;
    display: block;
}
.custom-table tr {
    height: 20px;
}

.custom-table tr:nth-child(even) {
    background-color: rgb(231, 237, 245);
}

.custom-table tr:nth-child(odd) {
    background-color: #fff;
}

